<% if user_signed_in? %>

  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <li class="inline top">
    <%= render "users/registrations/form" %>
  </li>
  <li class="inline top">
    <%= render "users/sessions/login_form" %>
  </li>
<% end %>
