<div class="special-event">
  <ul>
    <li>
      <img src="<%= image_path('project1.jpg') %>" alt="Project 1"/>
      <div class="event-contents text-center">
        <h3>WATER PROJECT</h3>
        <p>100% of the money will be used to build clean water projects, and when they’re complete, charity: water will send us photos and GPS coordinates so we can see the exact community we helped.</p>
        <a class="button icon main big text-left"><i class="fa fa-thumbs-o-up"></i>Join us</a>
      </div>
    </li>
  </ul>
</div>

<div class="idea-blocks wrapper">
  <div class="list inline top">
    <h3>Featured Ideas</h3>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
    <div class="block inline top">
      <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
      <a class="button animation main" href="#">View idea</a>
      <h4>Plant a tree</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum</p>
      <a class="love-us" href="#">23,578 <i class="fa fa-heart"></i></a>
      <ul class="more">
        <li><i class="fa fa-user"></i>Author: <strong>Jame Bond</strong></li>
        <li><i class="fa fa-map-marker"></i>Location: <strong>Distric 1</strong></li>
        <li><i class="fa fa-calendar"></i>Expired at: <strong>25/04/2016</strong></li>
      </ul>
      <div class="progress-bar">
        <div class="bar animation" style="width:75%;"></div>
        <span class="percent">75 %</span>
        <span class="backer"><strong>345</strong>BACKERS</span>
        <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
      </div>
    </div>
  </div>

  <div class="real-event inline top">
    <h3>Realtime events</h3>
    <ul>
      <li>
        <img src="http://placeimg.com/300/300/people" />
        <div class="content">
          <h4><a href="#">Jame Bond</a></h4>
          <p>has donated <strong>1000$</strong> to <a href="#">Plan a tree</a> </p>
          <span>2 hours ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd" />
        <div class="content">
          <h4><a href="#">Plan a tree</a></h4>
          <p>starts now</p>
          <span>2 minutes ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd1" />
        <div class="content">
          <h4><a href="#">Jame Bond</a></h4>
          <p>has donated <strong>1000$</strong> to <a href="#">Plan a tree</a> </p>
          <span>2 hours ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd2" />
        <div class="content">
          <h4><a href="#">Plan a tree</a></h4>
          <p>starts now</p>
          <span>2 minutes ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd3" />
        <div class="content">
          <h4><a href="#">Jame Bond</a></h4>
          <p>has donated <strong>1000$</strong> to <a href="#">Plan a tree</a> </p>
          <span>2 hours ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd4" />
        <div class="content">
          <h4><a href="#">Plan a tree</a></h4>
          <p>starts now</p>
          <span>2 minutes ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd5" />
        <div class="content">
          <h4><a href="#">Jame Bond</a></h4>
          <p>has donated <strong>1000$</strong> to <a href="#">Plan a tree</a> </p>
          <span>2 hours ago</span>
        </div>
      </li>
      <li>
        <img src="http://placeimg.com/300/300/people?asd6" />
        <div class="content">
          <h4><a href="#">Plan a tree</a></h4>
          <p>starts now</p>
          <span>2 minutes ago</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="idea-near-me">
  <h3 class="wrapper">Ideas near me</h3>
  <div id="map" class="idea-map"></div>
</div>

<div class="summary">
  <ul class="wrapper">
    <li class="inline top">
      <h4>389</h4>
      <span><strong>ideas</strong> was created</span>
    </li>
    <li class="inline top">
      <h4>45,624,000</h4>
      <span><strong>VND</strong> was raised</span>
    </li>
    <li class="inline top">
      <h4>478,424</h4>
      <span><strong>people</strong> were joined anddonated</span>
    </li>
  </ul>
</div>



<script>
  // In the following example, markers appear when the user clicks on the map.
  // Each marker is labeled with a single alphabetical character.
  var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var labelIndex = 0;

  function initialize() {
  var bangalore = { lat: 12.97, lng: 77.59 };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: bangalore
  });

  // This event listener calls addMarker() when the map is clicked.
  google.maps.event.addListener(map, 'click', function(event) {
    addMarker(event.latLng, map);
  });

  // Add a marker at the center of the map.
  addMarker(bangalore, map);
  }

  // Adds a marker to the map.
  function addMarker(location, map) {
  // Add the marker at the clicked location, and add the next-available label
  // from the array of alphabetical characters.
  var marker = new google.maps.Marker({
    position: location,
    label: labels[labelIndex++ % labels.length],
    map: map
  });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
