<div class="special-event">
  <ul>
    <li>
      <img src="<%= image_path('project1.jpg') %>" alt="Project 1"/>
      <div class="event-contents text-center">
        <h3>WATER PROJECT</h3>
        <p>100% of the money will be used to build clean water projects, and when they’re complete, charity: water will send us photos and GPS coordinates so we can see the exact community we helped.</p>
        <a class="button icon main big text-left"><i class="fa fa-thumbs-o-up"></i>Join us</a>
      </div>
    </li>
  </ul>
</div>

<div class="special-donate">
  <ul class="list">
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=1" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=2" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=3" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=4" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=5" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=6" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
    <li class="inline top">
      <img class="inline top" src="http://placeimg.com/80/80/people?rad=7" />
      <div class="info inline top">
        <h4>David John</h4>
        <p>Donated:</p>
        <ul class="donated">
          <li><strong>5</strong> projects</li>
          <li><strong>267,000,000</strong> VND</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div id="idea-blocks">
  <div class="block">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
  <div class="block p1">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
  <div class="block p2">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
  <div class="block p1">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
  <div class="block">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
  <div class="block p2">
    <img src="https://richardhutton.files.wordpress.com/2015/07/charity_20cm.jpg" />
    <h4>Plant a tree</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
    <div class="progress-bar">
      <div class="bar" style="width:75%;"></div>
      <span class="percent">75 %</span>
      <span class="backer"><strong>345</strong>BACKERS</span>
      <span class="raised"><strong>60,000,000 VND</strong>RAISED</span>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#idea-blocks').masonry({
    itemSelector: '.block',
    columnWidth: 10
  });
});
</script>
