<h1>Chỉnh sửa sự kiện</h1>

<%= include 'form' %>

<script>
  var placeSearch, autocomplete;

  function initAutocomplete() {
    input = document.getElementById('autocomplete');
    google.maps.event.addDomListener(input, 'keydown', function(e) {
      if (e.keyCode == 13) {
          e.preventDefault();
      }
    });

    autocomplete = new google.maps.places.Autocomplete(
      (input),
      {types: ['geocode']}
    );

    autocomplete.addListener('place_changed', function(e) {
      place = autocomplete.getPlace();

      cityInput = document.getElementById('city');
      latInput = document.getElementById('lat');
      longInput = document.getElementById('lng');

      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (addressType == 'administrative_area_level_1') {
          cityInput.value = place.address_components[i]['long_name'];
          break;
        }
      }

      latInput.value = place.geometry.location.lat();
      longInput.value = place.geometry.location.lng();
    });
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

  $(function() {
    $('#edit').froalaEditor();
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkKcB2Vfei2ySQzJ17rfXX_19IGzJaxms&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
