@import "mixin";

#event-detail{
  width: 80%;
  margin: $size-unit-double auto;
  min-width: 800px;
  margin-top: 20px;
  #detail-panel{
    display: inline-block;
    width: 70%;
    min-width: 600px;
    #story{
      border: 1px solid $color-line;
      height: 700px;
    }
  }
  #donate-panel{
    display: inline-block;
    width: 30%;
    min-width: 200px;
    float: right;
    #donate{
      border: 1px solid $color-line;
      padding: 20px;
      h3{
        font-size: 39px;
        position: relative;
        text-align: center;
        width: 100%;
      }
      #donate-button {
        margin-top: 10px;
        color: white;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        background-color: $color-main;
        span{
          font-size: 20px;
        }
      }
      #social{
        width: 100%;
        margin-top: 10px;
        color: white;
        span#fb{
          display: inline-block;
          padding-top: 10px;
          width: 32%;
          cursor: pointer;
          text-align: center;
          font-size: 25px;
          min-width: 70px;
          height: 50px;
          background-color: $color-main;
        }
        span#twitter{
          display: inline-block;
          width: 32%;
          text-align: center;
          font-size: 25px;
          min-width: 70px;
          cursor: pointer;
          padding-top: 10px;
          height: 50px;
          background-color: $color-twitter;
        }
        span#gg-plus{
          display: inline-block;
          width: 32%;
          text-align: center;
          cursor: pointer;
          font-size: 25px;
          min-width: 70px;
          height: 50px;
          padding-top: 10px;
          background-color: #dd4b39;
        }
      }
    }
    #donor-list{
      border: 1px solid $color-line;
      height: 400px;
      padding: 20px;
    }
  }
}
