<footer>
  <ul class="blocks wrapper">
    <li class="block inline top">
      <h4>Company</h4>
      <nav>
        <ul class="links">
          <li><a class="link icon" href="#"><i class="fa fa-caret-right"></i>About us</a></li>
          <li><a class="link icon"  href="#"><i class="fa fa-caret-right"></i>Term of conditions</a></li>
          <li><a class="link icon"  href="#"><i class="fa fa-caret-right"></i>Privacy</a></li>
          <li><a class="link icon"  href="#"><i class="fa fa-caret-right"></i>How to use</a></li>
          <li><a class="link icon"  href="#"><i class="fa fa-caret-right"></i>FAQs</a></li>
          <li><a class="link icon"  href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
        </ul>
      </nav>
    </li>
    <li class="block inline top">
      <h4>Follow</h4>

    </li>
    <li class="block inline top">
      <h4>Activities</h4>
      <nav>
        <ul class="links">

        </ul>
      </nav>
    </li>

  </ul>
  <div class="info">
    <p class="wrapper">Copyright © 2016 ALL RIGHTS RESERVED BY ABRA TEAM</p>
  </div>
</footer>
