<header>
  <nav class="wrapper">
    <%= link_to root_path, class: "logo inline middle" do %>
      <img src="<%= image_path('logo.png') %>" alt="Logo"/>
    <% end %>
    <form class="search-form inline middle">
      <i class="fa fa-search fa-2x inline middle"></i>
      <input type="text" class="inline middle" placeholder="Hey! What event are you interested in?"/>
      <select>
        <option value="">at location</option>
        <option value="">Distric 1</option>
        <option value="">Distric 2</option>
      </select>
    </form>
    <ul class="menu text-right inline middle">
      <li class="inline middle">
        <%= link_to new_event_path, class: 'button text-left main icon' do %>
          <i class="fa fa-plus"></i>Create an event
        <% end %>
      </li>
      <li class="inline middle">
        <%= render 'users/sessions/new' %>
      </li>
    </ul>
  </nav>
</header>
